body {
  background-color: #f0b86c;
  max-width: 900px;
  margin: 2rem auto;
}
.gallery {
  display: flex;
  height: 25rem;
  gap: 1rem;
}

.gallery > div {
  flex: 1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  box-shadow: 1px 2px 4px 1px rgb(89, 82, 69);
  transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}

.gallery > div:hover {
  flex: 6;
}
